html,body{
    height:100%;
}

body{
    background-color: #3B5998;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .login-container{
        background-color: rgba($color: #182c4b, $alpha:0.7);
        height: 400px;
        width: 600px;
        padding: 50px;
        border-radius: 16px;
        h2 {
            margin-bottom: 20px;
        }
        .login-warning{
            display: none;
            margin-top: 10px;
            color: rgb(206, 40, 40);
        }
    }

}