html,
body,
.main {
  height: 100%;
  width: 1190px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.main .topbar {
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.main .box {
  flex: 1;
  padding-top: 50px;
}

.main .box .content {
  padding: 20px;
}

.main .box .content .maincontent {
  margin-top: 31px;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.maincontent {
  margin-top: 31px;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-information {
  display: flex;
}

.user-information > div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-information > div .username {
  margin-bottom: 4px;
  font-size: 20px;
}

.user-information > img {
  border-radius: 8px;
  height: 100px;
  width: 100px;
}
