
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Backend Management System</a>
                    <div>
                        <img src="" alt="" id="topbar-photo" style="width: 26px; margin-right: 16px; border-radius: 6px;">
                        <span id="currentUsername" class="navbar-text" style="width: 38px; margin-right: 16px; vertical-align: middle;">name</span>
                        <button class="btn btn-primary " style="vertical-align: middle;" id="exit">Exit</button>
                    </div>
                </div>
            </nav>
