@import "../style.scss";

.news-bg {
    background-image: url(http://localhost:3000/bg.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 99;
    border-radius: 4px;

    .search-container {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;

        .list-group {
            position: absolute;
            width: 100%;
            opacity: 0.9;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

.card-container {
    padding: 8px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .card {
        &:hover {
            box-shadow: 0 0 4px gray;
            cursor: pointer;
        }

        width: 289.5px;

        .cardCover {
            width: 100%;
            height: 190px;
            background-size: cover;
            background-position: center;
            border-radius: 2px 2px 0 0;
        }

    }

    .card-body {
        h5 {
            text-align: center;
            font-size: 24px;
        }

        p {
            color: gray;
            text-align: center;
        }
    }
}

.news-tabs {
    hr {
        margin: 20px 0;
    }
    margin-bottom: 20px;
    display: block;
}

.tab-pane {
    .list-item{
        padding: 10px;
        overflow: hidden;

        content: '';
        clear: both;
        display: block;

        img{
            float: left;
            width: 120px;
            height: 90px;
            margin-right: 20px;
        }
        &:hover{
            box-shadow: 0 0 4px gray;
            cursor: pointer;
        }
        .item-title{
            font-size: 24px;
            vertical-align: center;
        }
    }

    p {
        color: gray;
    }
}

