<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Corporate Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="topbar-products" class="nav-link active" aria-current="page"
                    href="/web/views/products/index.html">Products and Services</a>
                <a id="topbar-news" class="nav-link" href="/web/views/news/index.html">News Center</a>
            </div>
            <div class="navbar-nav ms-auto"> <!-- 添加了 ms-auto 类 -->
                <a style="vertical-align: middle;" id="login" class="btn btn-primary" href="/admin/views/login/index.html" tabindex="-1" aria-disabled="false">Login</a>
            </div>
        </div>
    </div>
</nav>